.Rproj.user
.Rhistory
.RData
.Ruserdata
gadm36_ETH_1_sp.rds
gadm36_TZA_1_sp.rds
gadm36_KEN_1_sp.rds
gadm36_UGA_1_sp.rds
ETH_adm2.rds
KEN_adm2.rds
TZA_adm2.rds
UGA_adm2.rds
gadm36_ETH_2_sp.rds
gadm36_KEN_2_sp.rds
gadm36_TZA_2_sp.rds
gadm36_ETH_3_sp.rds
Rplot.png
Tehuledere Wereda
gadm36_ETH_0_sp.rds
gadm36_KEN_0_sp.rds
gadm36_KEN_3_sp.rds
gadm36_TZA_0_sp.rds
gadm36_UGA_0_sp.rds
gadm36_UGA_3_sp.rds
gt30e020n40_dem
gt30e020s10_dem
Rplot01.png
output_srtm.tif
gadm36_USA_0_sp.rds
Newest_EA_Af.png
gadm36_USA_1_sp.rds
plot_size_tech_r.csv
wc0.5
wc2-5
PPT_sankey.html
4_node_sankey.R
PPT_matrix_sankey.Rmd
PPT_matrix_sankey.html
ROUGH_Table-of-variables.docx
Table-of-variables.html
Table-of-variables.docx
Country_c.html
